@import "~bootstrap/scss/bootstrap";

.cartListItem {
    display: flex;
    justify-content: space-around;
}
.book_list, .info , .btn_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}